# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Secrets / env
.env
*.pem
.secrets

# OS
.DS_Store
Thumbs.db
